/***** FONTS *****/
@import url("https://use.typekit.net/wlw8oea.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');

/***** GLOBAL SETTINGS ****/
:root {
  --theme-yellow: #DFC548;
  --theme-red: #F87B70;
  --theme-black: #191919;
  --theme-white: #fafafa;
  --theme-margin: 5px;
}


body {
    margin: var(--theme-margin);
    font-family: "roboto", sans-serif;
    font-size: 1.05rem;
}

h1,h2,h3,h4 {
    margin: 0;
    font-size: inherit;
    letter-spacing: 0.025em;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: 0.0025em;
    color: rgba(51, 51, 51, 1);
}

section {
    border-radius: 3px;
}

.container-animate {
    animation: fadeIn .25s ease-in-out;
}
    @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

.yellow-more-btn {
    padding: 8px 20px;
    border-radius: 33px;
    background: var(--theme-yellow);
    color: var(--theme-black);
    border: 0;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
}

.invert-dark {
   color: var(--theme-white);
}

.lemonade-text {
    font-family: "rockwell", sans-serif;
}

/***** SECTION DEFAULTS *****/

.section-container {
    padding: calc(var(--theme-margin)*4) calc(var(--theme-margin)*2);
}

.section-title {
    font-size: 24px;
    text-transform: uppercase;
}

.section-title span {
    border-bottom: 3px solid var(--theme-yellow);
    padding: 0 0 var(--theme-margin) 0;
}

.section-subtitle {
    font-size: 20px;
    text-transform: uppercase;
}

/***** MENU LAYOUT *****/

#navbar {
    position: fixed;
    top: var(--theme-margin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo nav";
    background-color: var(--theme-yellow);
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    height: 100px;
    width: calc(100% - (var(--theme-margin))*2);
    overflow: hidden;
}

.menu-logo {
    grid-area: logo;
    font-size: inherit;
}

.nav-container {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/***** MOBILE MENU *****/ 
/* Credit: https://uxdesign.cc/the-menu-210bec7ad80c) */


#mobilemenu {
    background: none;
    width: 55px;
    border: 0;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    margin-right: var(--theme-margin);
    transition: all 0.2s ease;
}

.spotify-headphones {
    font-size: 1.6rem;
    transition: all 0.2s ease;
}

.spotify-headphones-active {
    color: #1DB954;
}


.opened {
    opacity: 0.9;
    border-radius: 3px;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.nav-menu-overlay {
    display: none;
    position: fixed;
    width: calc(40vw - var(--theme-margin));
    background: #191919;
    opacity: 0.9;
    border-radius: 3px;
    top: calc(100px + var(--theme-margin));
    right: 0;
    margin-top: var(--theme-margin);
    margin-right: var(--theme-margin);
    padding: 20px 0;
    z-index: 2;
}

.nav-menu-overlay-display {
    display: flex;
    flex-direction: column;
}

.nav-menu-overlay ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu-overlay a {
    text-decoration: none;
}

.nav-items, 
.nav-items-small {
    margin: calc((var(--theme-margin))*2) calc((var(--theme-margin))*2);
    font-family: 'effra', sans-serif;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.nav-items, 
.nav-items a:visited {
    color: var(--theme-white);
    transform: scale(1.05);
    font-weight: bold;
}

.nav-items-small, .nav-items-small a:visited {
    color: var(--theme-yellow);
    font-size: 70%;
}

.nav-items a {
    border-bottom: 2px solid var(--theme-white);
}

.nav-items-small {
    line-height: 1.2;
    font-weight: 500;
    text-decoration: underline;
}

/***** SPOTIFY *****/

.spotify-overlay {
    display: none;
    position: fixed;
    top: 0;
    background: var(--theme-black);
    opacity: 0.9;
    border-radius: 3px;
    left: 0;
    margin: var(--theme-margin) var(--theme-margin);
    padding: var(--theme-margin);
    width: calc(100% - (var(--theme-margin))*4);
    z-index: 1;
}

.spotify-close-background {
    background: var(--theme-yellow);
    position: absolute;
    top: var(--theme-margin); 
    right: var(--theme-margin); 
    border-radius: 50%;
    z-index: 2;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spotify-close {
    color: var(--theme-red);  
    font-size: 2rem;
    z-index: 3;
}

.spotify-overlay iframe {
    border: #000;
    border-radius: 3px; 
    width: 100%; 
    height: 200px;
}

.spotify-display {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/***** LAYOUT *****/

.main-grid-container {
    display: grid;
    margin-top: calc(var(--theme-margin)*2);
    grid-template-columns: 1fr;
    grid-auto-rows: 100px minmax(250px, auto) minmax(350px, auto) auto 100vh 80vh 20vh;
    grid-template-areas:
    " . "
    "hero"
    "sessions"
    "news"
    "events"
    "follow"
    "footer"; 
}

.hero-album {
    grid-area: hero;
}

.band-sessions {
     grid-area: sessions;
     margin-top: var(--theme-margin);
     background-color: var(--theme-white);
}

.band-news {
    grid-area: news;
}

.band-events {
    grid-area: events;
}

.band-follow {
    grid-area: follow;
    background-color: mediumspringgreen;
}

footer {
    grid-area: footer;
    background-color: grey;
}

/***** LOGO *****/
.menu-logo {
    font-family: 'effra', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    padding: calc(var(--theme-margin)*2);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}

.menu-logo .red-lemon {
    color: var(--theme-red);
    -webkit-text-stroke: var(--theme-black);
    -webkit-text-stroke-width: 1px;
    font-size: auto;
}

/***** SECTION FOOTER *****/

.section-footer {
    margin: 0 var(--theme-margin);
    border-bottom: 1px solid var(--theme-yellow);
}
.yellow-lemon {
    /***** Section Footer Icon *****/
    color: var(--theme-white);
    text-shadow: 1px 0 0 var(--theme-yellow),0 1px 0 var(--theme-yellow),-1px 0 0 var(--theme-yellow),0 -1px 0 var(--theme-yellow);
    font-size: 2rem;
}

.section-footer .yellow-lemon {
    padding: 0 0 var(--theme-margin) 0;
}

/***** HERO ALBUM - HOME *****/

.hero-album {
    background: url("../images/yellow.jpeg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-album-overlay {
    height: 12vh;
    width: 70%;
    max-width: 600px;
    background: rgba(244, 123, 112, 0.85);
    margin-bottom: 10vh;
    display: flex; 
    align-items: flex-end
}

.hero-album-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
}

.hero-album-text h2 {
    align-self: center;
    font-family: "rockwell", sans-serif;
    font-size: 130%;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 calc(var(--theme-margin)*3);
}

.hero-album-text h3 {
    align-self: flex-start;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.015rem;
    color: var(--theme-white);
    padding: 0 0 0 calc(var(--theme-margin)*3);
}

.hero-album-text span {
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-white);
    letter-spacing: 0.015rem;
    font-size: 90%;
}

.hero-play {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    background: var(--theme-black);
    margin-left: auto;
    margin-right: -50px;
    margin-bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-play i {
    color: var(--theme-white);
    font-size: 2rem;
    padding-left: 2px;
}

/***** BAND SESSIONS - HOME *****/

.band-sessions-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

.band-sessions-overlay {
    background: rgba(0,0,0,0.4);
    color: var(--theme-white);
    font-size: inherit;
    display: flex;
    flex-direction: column;
    background: url("../images/yellowstudio.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: calc(var(--theme-margin)*2);
}

.band-sessions-overlay h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.band-sessions-overlay h2 {
    font-family: 'effra', sans-serif;
    letter-spacing: 0.025em;
    line-height: 1em;
    font-weight: bold;
    margin-top: auto; 
}

.band-sessions-overlay i {
    color: var(--theme-yellow);
}

.band-sessions-overlay p {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-yellow);
}

.band-sessions-content-container {
    display: flex;
    flex-direction: column;
    padding: calc((var(--theme-margin))*2);
}

/***** BAND NEWS - HOME *****/

.band-news-post {
    box-shadow: 2.5px 5px 10px -5px rgba(0,0,0,0.2);
    background: #fafafa;
    border-radius: 3px;
}

.band-news-post-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
     margin: 2rem 0;
}

.band-news-post-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.band-news-post-container > span{
    font-size: 12px;
    color: rgba(51, 51, 51, 1);
}

.band-news-post-container > span,
.band-news-post-container p {
    padding: var(--theme-margin) 0;
}

.band-news-post-container p span{
  font-weight: 600;
}

.band-news-image-container {
    background: url(https://img.youtube.com/vi/4D2qcbu26gs/hqdefault.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
}

/***** EVENTS - HOME *****/

/** Events Covid Alert **/
.covid-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: calc(var(--theme-margin)*4) 0 var(--theme-margin) 0;
    background: var(--theme-red);
    border-radius: 3px;
}

.covid-alert-content {
    padding-left: 1rem;
}

.covid-alert-content,
.covid-alert-content p {
    color: var(--theme-white);
}

.covid-alert-content i {
    color: var(--theme-yellow);
}

.events-container {
    background: #191919;
    border-radius: 3px;
}

.band-events {
    
}

.band-events-content {
    margin: 2rem 0;
    padding: 0 1rem
}

.band-events-content > p > span {
    text-transform: uppercase;
}

.band-events-content > p > span:nth-child(2) {
    text-transform: capitalize;
}

.band-events-merch-text {
    padding: 1rem 0 0 0;
}

p.band-events-merch-text.invert-dark > span {
    font-weight: 500;
    text-transform: none;
}

p.band-events-merch-text.invert-dark > span > span {
    color: var(--theme-yellow);
    text-transform: capitalize;
}

p.band-events-merch-text.invert-dark > a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px dotted var(--theme-yellow);
}

p.band-events-merch-text.invert-dark > a > span {
    font-weight: 500;
    font-style: italic;
}