/*
Stylesheet for - https://asdub.github.io/yellow-lemon-MP1/ 
*/

/***** FONTS *****/
@import url("https://use.typekit.net/wlw8oea.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");

/***** GLOBAL SETTINGS ****/
:root {
    --theme-yellow: #dfc548;
    --theme-red: #f87b70;
    --theme-black: #191919;
    --theme-white: #fafafa;
    --theme-margin: 5px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 1.05rem;
    margin: var(--theme-margin);
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    letter-spacing: 0.025em;
    margin: 0;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

a,
a:-webkit-any-link {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: 0.0025em;
    color: rgba(51, 51, 51, 1);
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
section {
    border-radius: 3px;
}

.container-animate {
    animation: fadeIn 0.25s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.yellow-btn {
    padding: 8px 20px;
    border-radius: 33px;
    background: var(--theme-yellow);
    color: var(--theme-black);
    border: 0;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;

    margin-left: auto;
    transition: all 0.2s ease-in-out;
}

.yellow-btn:hover,
.yellow-btn:focus,
.yellow-btn:active {
    background: var(--theme-red);
    font-weight: 500;
}

.black-btn {
    padding: 8px 15px;
    border-radius: 33px;
    background: var(--theme-black);
    color: var(--theme-white);
    border: 0;
    font-family: "roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
    transition: all 0.2s ease-in-out;
}

.black-btn:hover,
.black-btn:focus,
.black-btn:active {
    background: var(--theme-red);
    color: var(--theme-black);
    font-weight: 500;
}

.red-text-link,
.red-text-link:visited {
    color: var(--theme-red);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.red-text-link:hover,
.red-text-link:focus {
    border-bottom: 1px solid var(--theme-red);
}

.red-text-link:active {
    border-bottom: 1px solid var(--theme-red);
}

.section-title.invert-dark {
    color: var(--theme-white);
}

.invert-dark {
    color: var(--theme-white);
}

.lemonade-text {
    font-family: "rockwell", sans-serif;
}

hr.white-divider {
    border: none;
    border-bottom: 1px solid var(--theme-white);
}

hr.yellow-divider {
    border: none;
    border-bottom: 2px solid var(--theme-yellow);
}

.display-desktop {
    display: none;
}

/***** SECTION DEFAULTS *****/

.section-container {
    padding: 20px 10px;
}

.section-title {
    font-size: 20px;
    text-transform: uppercase;
}

.section-container h2 {
    color: var(--theme-black);
}

.section-title span {
    border-bottom: 3px solid var(--theme-yellow);
    padding: 0 0 var(--theme-margin) 0;
}

.section-subtitle {
    font-size: 20px;
    text-transform: uppercase;
}

/***** MENU LAYOUT *****/

#navbar {
    position: fixed;
    top: var(--theme-margin);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "logo nav";
    background-color: var(--theme-yellow);
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.2);
    height: 100px;
    width: calc(100% - 10px);
    overflow: hidden;
}

/** Black Menu **/
#navbar.black {
    background-color: var(--theme-black);
}

#navlogo.black,
.spotify-headphones.black {
    color: var(--theme-yellow);
}

#mobilemenu > svg > path.line.line1.black,
#mobilemenu > svg > path.line.line2.black,
#mobilemenu > svg > path.line.line3.black {
    stroke: var(--theme-yellow);
}

.nav-menu-desktop.black a,
.nav-menu-desktop.black a:visited {
    color: var(--theme-yellow);
}

/** **/

.menu-logo {
    grid-area: logo;
    font-size: inherit;
}

.menu-logo a {
    color: var(--theme-black);
}

.nav-container {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/***** MOBILE MENU *****/
/* Credit: https://uxdesign.cc/the-menu-210bec7ad80c) */

#mobilemenu {
    background: none;
    width: 55px;
    border: 0;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    margin-right: var(--theme-margin);
    transition: all 0.2s ease;
}

.spotify-headphones {
    font-size: 1.6rem;
    transition: all 0.2s ease;
}

.spotify-headphones-active {
    color: #1db954 !important;
}

.spotify-headphones:hover,
.spotify-headphones:focus {
    color: #1db954;
}

.opened {
    opacity: 0.9;
    border-radius: 3px;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.nav-menu-overlay {
    position: fixed;
    width: calc(50vw - 5px);
    max-width: 250px;
    background: #191919;
    opacity: 0.9;
    border-radius: 3px;
    top: calc(100px + 5px);
    right: 0;
    margin-top: var(--theme-margin);
    margin-right: var(--theme-margin);
    padding: 20px 0;
    z-index: 2;
}

.nav-menu-underlay {
    content: " ";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.nav-display {
    display: none;
}

.nav-menu-desktop {
    display: none;
}

.nav-display.nav-active {
    display: flex;
    flex-direction: column;
}

.nav-menu-overlay ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu-overlay a {
    text-decoration: none;
}

.nav-items,
.nav-items-small {
    margin: 10px;
    font-family: "effra", sans-serif;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.nav-items a,
.nav-items a:visited {
    color: var(--theme-white);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.nav-items-small a,
.nav-items-small a:visited {
    color: var(--theme-yellow);
    font-size: 90%;
    transition: all 0.2s ease-in-out;
}

.nav-items a {
    border-bottom: 2px solid var(--theme-white);
}

.nav-items-small {
    line-height: 1.2;
    font-weight: 500;
    text-decoration: underline;
}

.nav-items:active {
    color: var(--theme-red);
}

#menuoverlay > ul.nav-items > li > a.nav-active,
#menuoverlay > ul.nav-items > li > a.nav-current {
    color: var(--theme-red);
    border-color: var(--theme-red);
}

.nav-items a:hover,
.nav-items a:focus,
.nav-items-small a:hover,
.nav-items-small a:focus {
    color: var(--theme-red);
    border-color: var(--theme-red);
}

/***** SPOTIFY *****/

.spotify-overlay {
    display: none;
    position: fixed;
    top: calc(100px + 5px);
    background: var(--theme-yellow);
    opacity: 0.9;
    border-radius: 3px;
    margin-top: var(--theme-margin);
    padding: var(--theme-margin);
    width: calc(100% - 20px);
    z-index: 1;
}

.spotify-close-background {
    background: var(--theme-yellow);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    z-index: 2;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spotify-close {
    color: var(--theme-black);
    font-size: 1.6rem;
    z-index: 3;
}

.spotify-overlay iframe {
    border: #000;
    border-radius: 3px;
    width: 100%;
    height: calc(250px - 10px);
}

.spotify-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** LAYOUT *****/

.main-grid-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px minmax(250px, auto) minmax(300px, auto) auto auto auto auto auto;
    grid-template-areas:
        " . "
        "hero"
        "sessions"
        "foot"
        "news"
        "events"
        "follow"
        "footer";
}

.hero-album {
    grid-area: hero;
}

.band-sessions {
    grid-area: sessions;
    margin: 5px 0 20px 0;
    background-color: var(--theme-white);
}

.band-news {
    grid-area: news;
    background: #fafafa;
}

.band-events {
    grid-area: events;
}

.band-follow {
    grid-area: follow;
    background-color: var(--theme-yellow);
    margin: var(--theme-margin) 0 0 0;
}

footer {
    grid-area: footer;
    margin: var(--theme-margin) 0 0 0;
}

/***** LOGO *****/
.menu-logo {
    font-family: "Effra", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}

.menu-logo .red-lemon {
    color: var(--theme-red);
    -webkit-text-stroke: var(--theme-black);
    -webkit-text-stroke-width: 1px;
    font-size: inherit;
}

/***** SECTION FOOTER *****/

.section-footer {
    grid-area: foot;
}

.section-footer {
    padding: 0 var(--theme-margin);
    border-bottom: 1px solid var(--theme-yellow);
    background: #fafafa;
}

.section-footer.black {
    background: var(--theme-black);
}

.linked-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.linked-footer a {
    transition: all 0.2s ease;
}

.linked-footer a:hover,
.inked-footer a:focus,
.inked-footer a:active {
    color: var(--theme-red);
}

.section-footer-link {
    font-size: 20px;
    align-self: center;
    color: var(--theme-black);
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.section-footer-link.invert-dark {
    color: var(--theme-white);
}

.yellow-lemon {
    /***** Section Footer Icon *****/
    color: var(--theme-white);
    text-shadow: 1px 0 0 var(--theme-yellow), 0 1px 0 var(--theme-yellow), -1px 0 0 var(--theme-yellow), 0 -1px 0 var(--theme-yellow);
    font-size: 2rem;
}

.black-lemon {
    color: var(--theme-black);
}

.section-footer .yellow-lemon {
    padding: 0 0 var(--theme-margin) 0;
}

/***** HERO ALBUM - HOME *****/

.hero-album {
    background: url("../images/yellow.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-album-overlay {
    height: 12vh;
    width: 70%;
    max-width: 600px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 1));
    border-top-right-radius: 3px;
    margin-bottom: 10vh;
    display: flex;
    align-items: flex-end;
}

.hero-album-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
}

.hero-album-text h2 {
    align-self: center;
    font-family: "rockwell", sans-serif;
    font-size: 130%;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 15px;
}

.hero-album-text h3 {
    align-self: flex-start;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.015rem;
    color: var(--theme-red);
    padding: 0 0 0 15px;
}

.hero-album-text span {
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-red);
    letter-spacing: 0.015rem;
    font-size: 90%;
}

.hero-play {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: var(--theme-black);
    margin-left: auto;
    margin-right: -50px;
    margin-bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.hero-play i,
.session-play i {
    color: var(--theme-white);
    font-size: 2rem;
    padding-left: 2px;
}

section.hero-album:focus > div > div > i,
section.hero-album:hover > div > div > i {
    color: var(--theme-black);
}

section.hero-album:hover > div > div:nth-child(2) {
    background: var(--theme-yellow);
    transform: scale(0.85);
}

/***** BAND SESSIONS - HOME *****/

.band-sessions-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.band-sessions-overlay {
    color: var(--theme-white);
    font-size: inherit;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.12), rgba(232, 125, 111, 0.5)), url("../images/yellowstudio.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
    height: 100%;
}

.band-sessions-overlay h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.band-sessions-overlay h2 {
    font-family: "effra", sans-serif;
    font-size: 24px;
    letter-spacing: 0.025em;
    line-height: 1em;
    font-weight: bold;
    margin-top: auto;
}

.band-sessions-overlay i {
    color: var(--theme-yellow);
}

.band-sessions-overlay p {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-yellow);
}

.band-sessions-content-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.2);
    border-left: 1px solid rgba(102, 102, 102, 0.2);
    border-right: 1px solid rgba(102, 102, 102, 0.2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.band-sessions-content-container a {
    margin-bottom: 1rem;
}

/***** BAND NEWS - HOME *****/

.band-news-post {
    background: #fafafa;
    box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.15);
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.band-news-post-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
    margin: 2rem 0;
}

.band-news-post-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.band-news-post-container > span {
    font-size: 12px;
    color: rgba(51, 51, 51, 1);
}

.band-news-post-container > span,
.band-news-post-container p {
    padding: var(--theme-margin) 0;
}

.band-news-post-container p span {
    font-weight: 600;
}

.band-news-image-container {
    display: none;
}

.band-news-image-container img {
    height: 180px;
    width: 100%;
    border-radius: 3px;
}

/***** EVENTS - HOME *****/

/** Events Covid Alert **/
.covid-alert.inner {
    display: none;
}

.covid-alert.outer {
    display: flex;
}

.covid-alert {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 20px 0 5px 0;
    background: var(--theme-red);
    border-radius: 3px;
}

.covid-alert-content {
    padding-left: 1rem;
}

.covid-alert-content,
.covid-alert-content p {
    color: var(--theme-white);
}

.covid-alert-content i {
    color: var(--theme-yellow);
}

.black-container {
    background: #191919;
    border-radius: 3px;
}

.band-events-content {
    margin: 2rem 0;
    padding: 0 1rem;
}

.band-events-content > p > span {
    text-transform: uppercase;
}

.band-events-content > p > span:nth-child(2) {
    text-transform: capitalize;
}

.band-events-merch-text {
    padding: 1rem 0 0 0;
}

p.band-events-merch-text.invert-dark > span {
    font-weight: 500;
    text-transform: none;
}

p.band-events-merch-text.invert-dark > span > span {
    color: var(--theme-yellow);
    text-transform: capitalize;
}

p.band-events-merch-text.invert-dark > a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px dotted var(--theme-yellow);
}

p.band-events-merch-text.invert-dark > a > span {
    font-weight: 500;
    font-style: italic;
}

.band-events-post-layout {
    max-height: 40vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 2rem 0;
    background: var(--theme-white);
    border-radius: 3px;
    padding: 1rem;
    box-shadow: inset 0 0 3px;
}

.events-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.events-title {
    color: var(--theme-yellow);
    font-size: 20px;
    text-transform: uppercase;
}

.events-title-container i {
    font-size: 20px;
    padding: 0 0 0 var(--theme-margin);
}

.band-events-group {
    margin: 2rem 0 0 0;
    position: relative;
    display: grid;
}

.band-events-group > span {
    font-size: 24px;
    position: absolute;
    top: -20px;
}

.band-events-item {
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba(102, 102, 102, 0.15);
    background: var(--theme-white);
    box-shadow: 2.5px -5px 10px -5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.band-events-item:hover,
.band-events-item:focus {
    transform: scale(1.02);
}

.band-events-post-container {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "date lineu lineu"
        "date content content"
        "  .  link link";
    padding: 1rem 0;
}

.band-events-post-date {
    grid-area: date;
}

.band-events-post-details {
    grid-area: content;
}

.band-events-post-link {
    grid-area: link;
}

.band-content-divider-upper {
    grid-area: lineu;
}

.band-content-divider-lower {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.band-events-post-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: var(--theme-white);
    box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.25);
}

.band-events-post-date p {
    font-weight: 500;
}

.band-events-post-date p span {
    font-size: 10px;
}

.band-content-divider-upper,
.band-content-divider-lower {
    margin: 0 20px;
}

.band-events-post-details p:nth-child(1) {
    font-weight: 500;
}

.band-events-post-details p:nth-child(1) span {
    font-size: 16px;
}

.band-events-post-details p:nth-child(2) {
    font-weight: 500;
    text-transform: uppercase;
}

.band-events-post-details p:nth-child(2) > span:nth-child(1) {
    color: var(--theme-yellow);
}

.band-events-post-details p:nth-child(2) > span:nth-child(2) {
    font-weight: 400;
}

.band-events-post-details p:nth-child(3) {
    font-size: 12px;
    font-weight: 400;
}

.band-events-post-details p:nth-child(3) span {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
}

.band-events-post-link {
    display: flex;
}

.band-events-post-footer,
.band-events-post-footer a {
    padding: 1rem 0 0 0;
    text-align: right;
}

.band-events-post-footer a {
    text-decoration: none;
    color: var(--theme-black);
    border-bottom: 2px dotted var(--theme-black);
}

/***** FOLLOW - HOME *****/

.band-follow-container {
    padding: 40px 20px;
}

.band-follow-hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "a a . . ."
        "b b . . ."
        ". c c . ."
        "w . r r r";
    margin: 2rem;
    border: 1px solid var(--theme-white);
    max-width: 300px;
}

.follow-hero-heading-a {
    grid-area: a;
}

.follow-hero-heading-b {
    grid-area: b;
}

.follow-hero-heading-c {
    grid-area: c;
}

.follow-hero-svg-white {
    grid-area: w;
}

.follow-hero-svg-red {
    grid-area: r;
    grid-row-start: 1;
    grid-row-end: 5;
    max-width: 150px;
}

.follow-hero-heading-a,
.follow-hero-heading-b,
.follow-hero-heading-c {
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035em;
}

.follow-hero-heading-a,
.follow-hero-heading-b {
    transform: translateX(-25%);
}

.follow-hero-heading-a {
    color: var(--theme-white);
    letter-spacing: -0.015em;
}

.band-follow-content {
    margin: 2rem;
}

.social-media-icons {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icons span,
.footer-content span {
    color: var(--theme-white);
    text-transform: uppercase;
    letter-spacing: 0.055em;
}

.social-media-icons-container {
    padding: 1rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.social-media-icons-container i,
.social-media-icons-container i:visited {
    font-size: 2.4rem;
    transition: all 0.2s ease-in-out;
}

.social-media-icons-container i:hover,
.social-media-icons-container i:focus,
.social-media-icons-container i:active {
    color: var(--theme-red);
    transform: scale(1.15);
}

.social-media-icons-container > a {
    color: var(--theme-black);
}
/***** FOOTER - HOME *****/

.footer-content {
    margin: 2rem 0;
}

.section-container.footer-container {
    border-radius: 3px;
    background-color: var(--theme-black);
}

.footer-content span {
    font-size: 14px;
}

.footer-content > p > a,
.copyright-links-container a {
    color: var(--theme-red);
    text-decoration: underline;
}

.copyright-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--theme-yellow);
    padding: 0 0 var(--theme-margin) 0;
}

.copyright-footer-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copyright-footer-inner a {
    text-decoration: none;
}

.copyright-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copyright-footer span,
.copyright-footer a {
    font-size: 12px;
}

/***** GLOBAL PAGE SETTINGS *****/

.page-content p {
    margin: 2rem 0;
    padding: 0 1rem;
    font-weight: 400;
}

.page-content p span {
    text-transform: uppercase;
    font-weight: 500;
}

/** Template for inner content on pages **/
.band-content-layout {
    max-height: 40vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 3px;
    padding: 1rem;
    box-shadow: inset 0 0 3px;
}

.band-content-group {
    margin: 0.5rem 0 0 0;
}

.band-content-group > span {
    text-transform: uppercase;
    font-weight: 500;
}

.band-content-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas:
        "img content"
        "img content"
        "img content"
        " . link";
}

.band-content-item {
    padding: 0.5rem;
    margin: 1rem 0;
    background: transparent;
}

.band-content-image {
    grid-area: img;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.band-content-image img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.band-content-text {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.band-content-link {
    grid-area: link;
    margin: 0.5rem 0 0 0;
    text-align: right;
}

.band-content-text > h2 {
    color: var(--theme-white);
}

.band-content-text > span {
    color: var(--theme-yellow);
    font-size: 12px;
    padding: 0.3rem 0;
}

/***** THE BAND - PAGES *****/
/** the-band.html **/

.the-band-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px minmax(200px, auto) auto auto;
    grid-template-areas:
        " . "
        "hero"
        "content"
        "footer";
}

.the-band-hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--theme-yellow);
}

.the-band-hero img {
    width: 100%;
}

.the-band {
    grid-area: content;
}

.the-band-content p {
    margin: 2rem 0 1rem 0;
}

.page-footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/***** SESSIONS - PAGES *****/
/** sessions.html **/

.sessions-grid-container {
    background: var(--theme-red);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px auto auto auto;
    grid-template-areas:
        " . "
        "sess"
        "content"
        "footer";
}

.latest-session {
    grid-area: sess;
}

.session-title {
    color: var(--theme-white);
    font-size: 24px;
}

.latest-video-featured-thumbnail {
    background: url("https://img.youtube.com/vi/BBsazIACpYM/hqdefault.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 230px;
}

.session-play {
    position: absolute;
    height: 80px;
    width: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.band-sessions-overlay.latest-video-featured-thumbnail h2,
.sessions-container {
    color: var(--theme-white);
}

.sessions-container {
    margin: 1rem 0 0 0;
}

.sessions-container-content p {
    margin: 0.5rem 0;
}

.sessions-container-content span {
    border-top: 1px solid var(--theme-white);
    padding: 3px 0 0 0;
    font-size: 14px;
}

.band-content-layout.recent-sessions-layout {
    margin: 1rem 0;
    background: rgba(51, 51, 51, 0.5);
    padding: 0 var(--theme-margin) 0 0;
}

.linked-footer.sessions-recent-link {
    flex-direction: column;
    padding: 0.5rem 0;
    font-size: 16px;
}

.recent-session-thumbnail-container {
    position: relative;
    width: fit-content;
}

.session-play.recent-play {
    height: 40px;
    width: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.session-play.recent-play i {
    font-size: inherit;
    color: var(--theme-yellow);
}

/***** NEWS ARTICLE - Page *****/

.band-news-image-container.single-post {
    display: block;
}

.news-article-grid-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px minmax(250px, auto) auto;
    grid-template-areas:
        " . "
        "article"
        "footer";
}

.band-news-single-post {
    grid-area: article;
}

.linked-footer.single-post {
    padding: 0 20px 0 10px;
}

.band-content-link.single-post {
    text-align: left;
}

.band-content-link.single-post a,
.band-news-post-container p > a {
    text-decoration: underline;
}

.band-news-content-container.single-post {
    padding: 1rem 0 0 0;
}

/***** MERCHANDISE - Page *****/
/** merchandise.html **/

.merch-hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--theme-white);
    padding: 1rem;
}

.merch img {
    width: 100%;
}

.band-content-text.merch h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.band-content-layout.merch-layout {
    margin: 1rem 0 0 0;
}

.page-content.the-band-content-lower.merch p {
    color: var(--theme-yellow);
}

.page-content.the-band-content-lower.merch p span {
    color: var(--theme-white);
}

/***** CONTACT - Page *****/
/** get-in-touch.html **/

.contact-hero {
    grid-area: hero;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--theme-white);
    padding: 1rem;
    align-items: flex-end;
}

.contact-hero-content h1,
.contact-hero-content span {
    line-height: 1;
    text-transform: uppercase;
}

.contact-hero-content h1 {
    font-family: "Effra", sans-serif;
    font-size: 20px;
}

.contact-hero-content span {
    color: var(--theme-red);
    font-size: 16px;
    font-weight: 600;
}

.contact-layout {
    padding: 1rem;
}

.contact-container > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}

.contact-form-item {
    border: 1px solid var(--theme-yellow);
    border-radius: 3px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-form-item:nth-child(4) {
    height: 70px;
    align-items: flex-start;
    padding: 10px 0 0 0;
}

.contact-form-item > label {
    color: var(--theme-white);
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 0 0.5rem;
}

.contact-form-item > input,
.contact-form-item > textarea {
    width: calc(100% - 5px);
    padding: 0 var(--theme-margin);
    background: transparent;
    border: 0;
    color: var(--theme-yellow);
    font-size: 16px;
    margin: 0 0 0 0.5rem;
}

.contact-form-item > input {
    height: 30px;
}

.contact-form-item > textarea {
    height: 65px;
}

.contact-form-button {
    margin: 1rem 0;
    margin-left: auto;
}

/***** RESPONSIVE *****/

/** Tablet 768px+ **/
@media only screen and (min-width: 768px) {
    /** Nav & Main Layout **/
    .nav-items a,
    .nav-items a:visited {
        line-height: 2.3;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    .yellow-btn {
        padding: 12px 30px;
        font-size: 16px;
    }
    .black-btn {
        padding: 10px 15px;
        font-size: 16px;
    }
    .band-news-image-container {
        display: block;
    }
    .section-footer.in-layout {
        display: none;
    }
    .section-container {
        padding: 1rem 2rem;
    }
    .section-container.black-container.home {
        margin: 1rem 0 0 0;
    }
    .section-title {
        font-size: 20px;
    }
    .main-grid-container {
        display: grid;
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px minmax(350px, auto) auto auto auto auto auto;
        grid-template-areas:
            " . . "
            "hero sessions"
            "news news"
            "events events"
            "follow follow"
            "footer footer";
    }
    .hero-album {
        margin: 1rem 0.5rem 1rem 1rem;
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .band-sessions {
        margin: 1rem 1rem 1rem 0.5rem;
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .band-news-post-layout {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin: 1rem 0;
    }
    article.band-news-post:hover,
    article.band-news-post:focus {
        transform: scale(1.02);
    }
    .covid-alert.outer {
        display: none;
    }
    .covid-alert.inner {
        display: flex;
    }
    .covid-alert {
        margin: 20px 0 auto 0;
        width: 50%;
    }
    .band-events-group {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .section-container.band-follow-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .sessions-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 100px auto auto auto;
        grid-template-areas:
            " . . . "
            "sess sess . "
            "content content content"
            "footer footer footer";
    }
    .latest-video-featured-thumbnail {
        height: 35vh;
    }
    .latest-video-featured-thumbnail:hover > div,
    .latest-video-featured-thumbnail:focus > div {
        background: var(--theme-yellow);
        transform: scale(0.8);
    }
    .latest-video-featured-thumbnail:hover > div > i,
    .latest-video-featured-thumbnail:focus > div > i {
        color: var(--theme-black);
    }
    .band-content-text > span {
        font-size: 16px;
    }
    .merch-hero {
        padding: 2rem 1rem;
    }
    .band-content-group.sessions > div.band-content-divider-upper {
        display: none;
    }
    .band-content-group.sessions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .band-content-group.sessions > div.band-content-item {
        padding: 1rem;
        margin: 0.5rem;
        border: 1px solid rgba(102, 102, 102, 0.3);
        transition: all 0.2s ease-in-out;
    }
    .band-content-group.sessions > div.band-content-item:hover,
    .band-content-group.sessions > div.band-content-item:focus {
        transform: scale(1.02);
    }
    .band-news-post-layout.single-post {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 2rem 2rem;
    }
    .band-news-image-container.single-post img {
        height: 300px;
        max-width: 500px;
        border-radius: 3px;
    }
    .the-band-hero {
        padding: 1rem 0 0 0;
    }
    .band-content-link {
        margin: 0.5rem 2rem 0 0;
    }
    .contact-hero {
        padding: 2rem 0;
    }
    .contact-hero-content h1 {
        font-size: 32px;
    }
    .contact-hero-content span {
        font-size: 20px;
    }
    .copyright-footer span,
    .copyright-footer a {
        font-size: 14px;
    }
}

/** Large Tablet/ Small Desktop 992px+ **/
@media only screen and (min-width: 992px) {
    body {
        height: 100vh;
    }
    /** Desktop Menu **/
    #navbar {
        grid-template-columns: 30% 70%;
    }
    /** Nav & Main Layout **/
    .nav-menu,
    .nav-menu-overlay,
    .nav-menu-underlay {
        display: none;
    }
    .nav-menu-desktop {
        grid-area: nav;
        display: block;
        width: 100%;
    }
    .nav-menu-desktop ul {
        list-style-type: none;
    }
    .nav-items-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav-menu-desktop a,
    .nav-menu-desktop a:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: var(--theme-black);
        transition: all 0.2s ease-in-out;
    }
    .nav-menu-desktop a:hover,
    .nav-menu-desktop a:focus,
    .nav-menu-desktop a:active {
        padding: 0 0 5px 0;
        border-bottom: 6px solid var(--theme-red);
        font-size: 16px;
    }
    .spotify-headphones.small {
        display: none;
    }
    .display-mobile {
        display: none;
    }
    .display-desktop {
        display: block;
    }
    .yellow-btn {
        padding: 8px 20px;
        font-size: 16px;
    }
    .red-text-link,
    .red-text-link:visited {
        font-weight: 500;
    }
    /** Page Layouts **/
    .the-band-grid-container {
        background: var(--theme-white);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px auto auto auto;
        grid-template-areas:
            " . . "
            "hero content"
            "footer footer";
        min-height: 100%;
    }
    .the-band {
        margin: 1rem 2rem 1rem 0;
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .section-container.black-container {
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.25);
    }
    /** Band Page **/
    .the-band-grid-container.band-layout {
        background: var(--theme-yellow);
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 100px minmax(200px, auto) auto auto;
        grid-template-areas:
            " . "
            "hero"
            "content"
            "footer";
        min-height: 100%;
    }
    .section-container.black-container.the-band-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .the-band-content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .band-content-layout.band-layout {
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .page-content.the-band-content-lower.band-layout {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .section-container.black-container.the-band-container {
        background: var(--theme-yellow);
    }
    .section-container.black-container.the-band-container h2 {
        color: var(--theme-black);
    }
    .section-container.black-container.the-band-container > h2 > span {
        border-color: var(--theme-red);
    }
    .linked-footer.band-layout a,
    .section-container.black-container.the-band-container > div > p {
        color: var(--theme-black);
    }
    .linked-footer.band-layout a:hover,
    .linked-footer.band-layout a:focus,
    .linked-footer.band-layout a:active {
        color: var(--theme-red);
    }
    .menu-logo.band-layout {
        display: none;
    }
    .band-content-layout.band-layout {
        background: transparent;
        box-shadow: none;
    }
    .band-content-layout.band-layout > div > span {
        display: none;
    }
    .the-band-grid-container > div > img.display-desktop {
        max-width: 300px;
    }
    .the-band-hero {
        padding: 1rem 2rem;
    }
    .the-band.band-about-layout {
        margin: 0;
    }
    .invert-dark.band-layout {
        color: var(--theme-black);
    }
    .red-text-link.band-layout {
        color: var(--theme-black);
        border-bottom: 2px solid var(--theme-red);
    }
    /** Sessions Page **/
    .sessions-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px auto auto;
        grid-template-areas:
            " . ."
            "sess content"
            "footer footer";
        min-height: 100%;
    }
    .latest-video-featured-thumbnail {
        height: 30vh;
    }
    .band-content-group.sessions {
        grid-template-columns: 1fr;
    }
    .latest-session {
        margin: 1rem 0 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        max-height: 600px;
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.25);
    }
    .the-band.sessions-layout {
        margin: 1rem 2rem 1rem 0;
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-self: center;
        max-height: 600px;
    }
    .latest-session {
        background: var(--theme-white);
    }
    .sessions-container {
        max-height: 40vh;
    }
    .section-container.sessions > h2 {
        color: var(--theme-black);
    }
    /** Merchandise Page **/
    .merch-hero {
        margin: 1rem 0 1rem 2rem;
        box-shadow: 2.5px 5px 10px -5px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        border: 1px solid rgba(102, 102, 102, 0.15);
    }
    /** News Article Page **/
    .band-news-image-container.single-post img {
        max-width: 400px;
    }
    /** Get in touch Page **/
    .contact-hero {
        align-items: center;
    }
}

/** Desktop 1200px+ **/
@media only screen and (min-width: 1200px) {
    /** Nav & Main Layout **/
    #navbar {
        grid-template-columns: 40% 60%;
    }
    .menu-logo {
        padding: 1rem 0 1rem 2rem;
    }
    .nav-container {
        padding: 0 2rem 0 0;
    }
    .band-news-image-container {
        display: block;
    }
    .section-footer.in-layout {
        display: none;
    }
    .main-grid-container {
        display: grid;
        margin-top: 0;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 100px minmax(400px, auto) minmax(400px, auto) auto auto auto auto;
        grid-template-areas:
            " . . . . ."
            "hero hero hero sessions sessions"
            "news news news news     news    "
            "events events events events events"
            "follow follow follow follow follow"
            "footer footer footer footer footer";
    }
    .black-btn {
        font-size: 14px;
    }
    /** Spotify **/
    .spotify-overlay {
        width: 25%;
        right: 0;
        margin: var(--theme-margin);
    }
    /** Page Layouts **/
    .section-container {
        padding: 2rem;
    }
    /** Hero - Home **/
    .hero-album {
        margin: 2rem 1rem 2rem 2rem;
    }
    .band-sessions {
        margin: 2rem 2rem 2rem 1rem;
    }
    .hero-album-overlay {
        width: 50%;
    }
    .hero-album-text {
        width: 80%;
    }
    .hero-play {
        margin-right: -40px;
    }
    .hero-album-text h2 {
        font-size: 32px;
    }
    /** News - Home **/
    .band-news-post-layout {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2rem;
        margin: 1rem 0;
    }
    /** Events - Home **/
    .covid-alert {
        width: 40%;
    }
    .section-container.black-container.home {
        margin: 2rem 0 0 0;
    }
    .band-events-post-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
    }
    .events-title-container {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .band-events-group.group-a {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .band-events-group.group-b {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .linked-footer.events-layout-home {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    /** Follow - Home **/
    .band-follow {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .band-follow-content {
        margin: 2rem 4rem;
    }
    .social-media-icons-container i {
        font-size: 3.4rem;
    }
    /** The Band Page **/
    .the-band-hero {
        max-width: 90rem;
        justify-self: center;
    }
    .the-band.band-about-layout {
        margin: 0 2rem;
        max-width: 90rem;
        justify-self: center;
    }
    /** Sessions Page **/
    .latest-session {
        margin: 4rem 0 4rem 4rem;
    }
    .the-band.sessions-layout {
        margin: 4rem 4rem 4rem 0;
    }
    /** Merchandise Page **/
    .merch-hero {
        margin: 4rem 0 4rem 4rem;
    }
    .the-band {
        margin: 4rem 4rem 4rem 0;
    }
    /** Band News Article Page **/
    .band-news-post-container.single-post {
        display: grid;
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
    }
    .band-news-post-container.single-post h3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .band-news-post-container.single-post > span {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .band-news-image-container.single-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .band-news-content-container.single-post {
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
