/***** FONTS *****/
@import url("https://use.typekit.net/wlw8oea.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');

/***** GLOBAL SETTINGS ****/
:root {
  --theme-yellow: #DFC548;
  --theme-red: #F87B70;
  --theme-black: #191919;
  --theme-white: #fafafa;
  --theme-margin: 5px;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: var(--theme-margin);
    font-family: "roboto", sans-serif;
    font-size: 1.05rem;
}

h1,h2,h3,h4 {
    margin: 0;
    font-size: inherit;
    letter-spacing: 0.025em;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: 0.0025em;
    color: rgba(51, 51, 51, 1);
}

section {
    border-radius: 3px;
}

.container-animate {
    animation: fadeIn .25s ease-in-out;
}
    @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

.yellow-more-btn {
    padding: 8px 20px;
    border-radius: 33px;
    background: var(--theme-yellow);
    color: var(--theme-black);
    border: 0;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
}

.black-btn {
    padding: 8px 15px;
    border-radius: 33px;
    background: var(--theme-black);
    color: var(--theme-white);
    border: 0;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
}

.invert-dark {
   color: var(--theme-white);
}

.lemonade-text {
    font-family: "rockwell", sans-serif;
}

/***** SECTION DEFAULTS *****/

.section-container {
    padding: calc(var(--theme-margin)*4) calc(var(--theme-margin)*2);
}

.section-title {
    font-size: 24px;
    text-transform: uppercase;
}

.section-title span {
    border-bottom: 3px solid var(--theme-yellow);
    padding: 0 0 var(--theme-margin) 0;
}

.section-subtitle {
    font-size: 20px;
    text-transform: uppercase;
}

/***** MENU LAYOUT *****/

#navbar {
    position: fixed;
    top: var(--theme-margin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo nav";
    background-color: var(--theme-yellow);
    border-radius: 3px;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    height: 100px;
    width: calc(100% - (var(--theme-margin))*2);
    overflow: hidden;
}

.menu-logo {
    grid-area: logo;
    font-size: inherit;
}

.nav-container {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/***** MOBILE MENU *****/ 
/* Credit: https://uxdesign.cc/the-menu-210bec7ad80c) */


#mobilemenu {
    background: none;
    width: 55px;
    border: 0;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    margin-right: var(--theme-margin);
    transition: all 0.2s ease;
}

.spotify-headphones {
    font-size: 1.6rem;
    transition: all 0.2s ease;
}

.spotify-headphones-active {
    color: #1DB954;
}


.opened {
    opacity: 0.9;
    border-radius: 3px;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 7;
    stroke: var(--theme-red);
}

.nav-menu-overlay {
    position: fixed;
    width: calc(50vw - var(--theme-margin));
    max-width: 250px;
    background: #191919;
    opacity: 0.9;
    border-radius: 3px;
    top: calc(100px + var(--theme-margin));
    right: 0;
    margin-top: var(--theme-margin);
    margin-right: var(--theme-margin);
    padding: 20px 0;
    z-index: 2;
}

.nav-menu-underlay {
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.nav-display {
    display: none;
}

.nav-display.nav-active {
    display: flex;
    flex-direction: column;
}

.nav-menu-overlay ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu-overlay a {
    text-decoration: none;
}

.nav-items, 
.nav-items-small {
    margin: calc((var(--theme-margin))*2) calc((var(--theme-margin))*2);
    font-family: 'effra', sans-serif;
    text-transform: uppercase;
}

.nav-items a, 
.nav-items a:visited {
    color: var(--theme-white);
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.nav-items-small a, .nav-items-small a:visited {
    color: var(--theme-yellow);
    font-size: 80%;
    transition: all 0.2s ease-in-out;
}

.nav-items a {
    border-bottom: 2px solid var(--theme-white);
}

.nav-items-small {
    line-height: 1.2;
    font-weight: 500;
    text-decoration: underline;
}

.nav-items:active {
    color: var(--theme-red);
}

#nav-active {
    color: var(--theme-red);
    border-color: var(--theme-red);
}

.nav-items a:hover,
.nav-items a:focus,
.nav-items-small a:hover,
.nav-items-small a:focus {
    color: var(--theme-red);
    border-color: var(--theme-red);
}

/***** SPOTIFY *****/

.spotify-overlay {
    display: none;
    position: fixed;
    top: calc(100px + var(--theme-margin));
    background: var(--theme-black);
    opacity: 0.9;
    border-radius: 3px;
    left: 0;
    margin: var(--theme-margin) var(--theme-margin);
    padding: var(--theme-margin);
    width: calc(100% - (var(--theme-margin))*4);
    z-index: 1;
}

.spotify-close-background {
    background: var(--theme-yellow);
    position: absolute;
    top: var(--theme-margin); 
    right: var(--theme-margin); 
    border-radius: 50%;
    z-index: 2;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spotify-close {
    color: var(--theme-red);  
    font-size: 2rem;
    z-index: 3;
}

.spotify-overlay iframe {
    border: #000;
    border-radius: 3px; 
    width: 100%; 
    height: 200px;
}

.spotify-display {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/***** LAYOUT *****/

.main-grid-container {
    display: grid;
    margin-top: calc(var(--theme-margin)*2);
    grid-template-columns: 1fr;
    grid-auto-rows: 100px minmax(250px, auto) minmax(350px, auto) auto auto auto auto;
    grid-template-areas:
    " . "
    "hero"
    "sessions"
    "news"
    "events"
    "follow"
    "footer"; 
}

.hero-album {
    grid-area: hero;
}

.band-sessions {
     grid-area: sessions;
     margin-top: var(--theme-margin);
     background-color: var(--theme-white);
}

.band-news {
    grid-area: news;
}

.band-events {
    grid-area: events;
}

.band-follow {
    grid-area: follow;
    background-color: var(--theme-yellow);
    margin: var(--theme-margin) 0 0 0;
}

footer {
    grid-area: footer;
    background-color: var(--theme-black);
    margin: var(--theme-margin) 0 0 0;
    border-radius: 3px;
}

/***** LOGO *****/
.menu-logo {
    font-family: 'effra', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    padding: calc(var(--theme-margin)*2);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}

.menu-logo .red-lemon {
    color: var(--theme-red);
    -webkit-text-stroke: var(--theme-black);
    -webkit-text-stroke-width: 1px;
    font-size: auto;
}

/***** SECTION FOOTER *****/

.section-footer {
    margin: 0 var(--theme-margin);
    border-bottom: 1px solid var(--theme-yellow);
}

.linked-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.section-footer-link {
    font-size: 18px;
    align-self: center;
    color: var(--theme-white);
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.yellow-lemon {
    /***** Section Footer Icon *****/
    color: var(--theme-white);
    text-shadow: 1px 0 0 var(--theme-yellow),0 1px 0 var(--theme-yellow),-1px 0 0 var(--theme-yellow),0 -1px 0 var(--theme-yellow);
    font-size: 2rem;
}

.black-lemon {
     color: var(--theme-black);
}

.section-footer .yellow-lemon {
    padding: 0 0 var(--theme-margin) 0;
}

/***** HERO ALBUM - HOME *****/

.hero-album {
    background: url("../images/yellow.jpeg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-album-overlay {
    height: 12vh;
    width: 70%;
    max-width: 600px;
    background: rgba(244, 123, 112, 0.85);
    margin-bottom: 10vh;
    display: flex; 
    align-items: flex-end
}

.hero-album-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
}

.hero-album-text h2 {
    align-self: center;
    font-family: "rockwell", sans-serif;
    font-size: 130%;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 calc(var(--theme-margin)*3);
}

.hero-album-text h3 {
    align-self: flex-start;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.015rem;
    color: var(--theme-white);
    padding: 0 0 0 calc(var(--theme-margin)*3);
}

.hero-album-text span {
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-white);
    letter-spacing: 0.015rem;
    font-size: 90%;
}

.hero-play {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    background: var(--theme-black);
    margin-left: auto;
    margin-right: -50px;
    margin-bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-play i {
    color: var(--theme-white);
    font-size: 2rem;
    padding-left: 2px;
}

/***** BAND SESSIONS - HOME *****/

.band-sessions-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

.band-sessions-overlay {
    background: rgba(0,0,0,0.4);
    color: var(--theme-white);
    font-size: inherit;
    display: flex;
    flex-direction: column;
    background: url("../images/yellowstudio.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: calc(var(--theme-margin)*2);
}

.band-sessions-overlay h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.band-sessions-overlay h2 {
    font-family: 'effra', sans-serif;
    letter-spacing: 0.025em;
    line-height: 1em;
    font-weight: bold;
    margin-top: auto; 
}

.band-sessions-overlay i {
    color: var(--theme-yellow);
}

.band-sessions-overlay p {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--theme-yellow);
}

.band-sessions-content-container {
    display: flex;
    flex-direction: column;
    padding: calc((var(--theme-margin))*2);
}

/***** BAND NEWS - HOME *****/

.band-news-post {
    box-shadow: 2.5px 5px 10px -5px rgba(0,0,0,0.2);
    background: #fafafa;
    border-radius: 3px;
}

.band-news-post-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
     margin: 2rem 0;
}

.band-news-post-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.band-news-post-container > span{
    font-size: 12px;
    color: rgba(51, 51, 51, 1);
}

.band-news-post-container > span,
.band-news-post-container p {
    padding: var(--theme-margin) 0;
}

.band-news-post-container p span{
  font-weight: 600;
}

.band-news-image-container {
    background: url(https://img.youtube.com/vi/4D2qcbu26gs/hqdefault.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
}

/***** EVENTS - HOME *****/

/** Events Covid Alert **/
.covid-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: calc(var(--theme-margin)*4) 0 var(--theme-margin) 0;
    background: var(--theme-red);
    border-radius: 3px;
}

.covid-alert-content {
    padding-left: 1rem;
}

.covid-alert-content,
.covid-alert-content p {
    color: var(--theme-white);
}

.covid-alert-content i {
    color: var(--theme-yellow);
}

.events-container {
    background: #191919;
    border-radius: 3px;
}

.band-events-content {
    margin: 2rem 0;
    padding: 0 1rem;
}

.band-events-content > p > span {
    text-transform: uppercase;
}

.band-events-content > p > span:nth-child(2) {
    text-transform: capitalize;
}

.band-events-merch-text {
    padding: 1rem 0 0 0;
}

p.band-events-merch-text.invert-dark > span {
    font-weight: 500;
    text-transform: none;
}

p.band-events-merch-text.invert-dark > span > span {
    color: var(--theme-yellow);
    text-transform: capitalize;
}

p.band-events-merch-text.invert-dark > a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px dotted var(--theme-yellow);
}

p.band-events-merch-text.invert-dark > a > span {
    font-weight: 500;
    font-style: italic;
}

.band-events-post-layout {
    max-height: 40vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 2rem 0;
    background: var(--theme-white);
    border-radius: 3px;
    padding: 1rem;
}

.events-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.events-title {
    color: var(--theme-yellow);
    font-size: 20px;
    text-transform: uppercase;
} 

.events-title-container i {
    font-size: 20px;
    padding: 0 0 0 var(--theme-margin);
}

.band-events-group {
    margin: 2rem 0 0 0;
}

.band-events-group > span {
    font-size: 24px;
}

.band-events-item {
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 3px;
    border-bottom: 1px solid;
    border-color: rgba(112, 112, 112, 0.15);
    background: var(--theme-white);
    box-shadow: 2.5px -5px 10px -5px rgba(0,0,0,0.3);
}

.band-events-post-container {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "date lineu lineu"
        "date content content"
        "linel linel link";
    padding: 1rem 0;
}

.band-events-post-date {
    grid-area: date;
}

.band-events-post-details {
    grid-area: content;
}

.band-events-post-link {
    grid-area: link;
}

.band-event-post-divider-upper {
    grid-area: lineu;
}

.band-event-post-divider-lower {
    grid-area: linel;  
}

.band-events-post-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: var(--theme-white);
    box-shadow: 2.5px 5px 10px -5px rgba(0,0,0,0.25);
}

.band-events-post-date p {
    font-weight: 500;
}

.band-events-post-date p span {
    font-size: 10px;
}

.band-event-post-divider-upper,
.band-event-post-divider-lower {
    margin: 0 calc(var(--theme-margin)*2);
}

hr.event-post-divider {
    border: none;  
    border-bottom: 2px solid var(--theme-yellow); 
}

.band-events-post-details p:nth-child(1) {
    font-weight: 500;
}

.band-events-post-details p:nth-child(1) span {
    font-size: 16px;
}

.band-events-post-details p:nth-child(2) {
    font-weight: 500;
    text-transform: uppercase;
}

.band-events-post-details p:nth-child(2) > span:nth-child(1) {
    color: var(--theme-yellow);
}

.band-events-post-details p:nth-child(2) > span:nth-child(2) {
   font-weight: 400;
}

.band-events-post-details p:nth-child(3) {
    font-size: 12px;
    font-weight: 400;
}

.band-events-post-details p:nth-child(3) span {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
}

.band-events-post-link {
    display: flex;
}

.band-events-post-footer,
.band-events-post-footer a {
    padding: 1rem 0 0 0;
    text-align: right;
}

.band-events-post-footer a {
    text-decoration: none;
    color: var(--theme-black);
    border-bottom: 2px dotted var(--theme-black);
}

/***** FOLLOW - HOME *****/

.band-follow-container {
    padding: calc(var(--theme-margin)*8) calc(var(--theme-margin)*4);
}

.band-follow-hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "a a . . ."
        "b b . . ."
        ". c c . ."
        "w . r r r";
    margin: 2rem;
    border: 1px solid var(--theme-white);
}

.follow-hero-heading-a {
    grid-area: a;
}

.follow-hero-heading-b {
    grid-area: b;
}

.follow-hero-heading-c {
    grid-area: c;
}

.follow-hero-svg-white {
    grid-area: w;
}

.follow-hero-svg-red {
    grid-area: r;
    grid-row-start: 1;
    grid-row-end: 5;
    max-width: 150px;
}

.follow-hero-heading-a,
.follow-hero-heading-b,
.follow-hero-heading-c {
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035em;
}

.follow-hero-heading-a,
.follow-hero-heading-b { 
    transform: translateX(-25%);
}

.follow-hero-heading-a {
    color: var(--theme-white);
    letter-spacing: -0.015em;
}

.band-follow-content {
    margin: 2rem;
}

.social-media-icons {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-icons span,
.footer-content span {
    color: var(--theme-white);
    text-transform: uppercase;
    letter-spacing: 0.055em;
}

.social-media-icons-container {
    padding: 1rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.social-media-icons-container i,
.social-media-icons-container i:visited {
    font-size: 2.4rem;
    transition: all 0.2s ease-in-out;
}

.social-media-icons-container i:hover,
.social-media-icons-container i:focus,
.social-media-icons-container i:active {
    font-size: 2.4rem;
    transform: scale(1.15);
}

hr.white-divider {
    border: none;  
    border-bottom: 1px solid var(--theme-white); 
}

/***** FOOTER - HOME *****/

.footer-content {
    margin: 2rem 0;
}

.footer-content span {
    font-size: 14px;
}

.footer-content > p > a,
.copyright-links-container a {
    color: var(--theme-red);
    text-decoration: underline;
}

.copyright-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--theme-yellow);
    padding: 0 0 var(--theme-margin) 0;
}

.copyright-footer-inner {
    display: flex;
    flex-direction: column;
}

.copyright-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copyright-footer span,
.copyright-footer a {
    font-size: 10px;
}

/***** GLOBAL PAGE SETTINGS *****/

.page-content p {
    margin: 2rem 0;
    padding: 0 1rem;
    font-weight: 400;
}

.page-content p span {
    text-transform: uppercase;
    font-weight: 500;
}

/***** THE BAND - PAGES *****/
/** the-band.html **/ 

.the-band-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px minmax(200px, auto) auto auto;
    grid-template-areas:
        " . "
        "hero"
        "content"
        "footer";
}

.the-band-hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--theme-yellow);
}

.the-band-hero img {
    width: 100%
}

.the-band {
    grid-area: content; 
}

.the-band-content p {
    margin: 2rem 0 0.5rem 0;
}

.page-footer {
    grid-area: footer;
}

.the-band-members-layout {
    max-height: 40vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background: transparent;
    border-radius: 3px;
    padding: 0 1rem 1rem 1rem;
}

.the-band-members-group {
    margin: 0.5rem 0 0 0;
}

.the-band-members-group > span {
    text-transform: uppercase;
}

.the-band-member-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
        "img content"
        "img content"
        "img content"
        " . link";
}

.the-band-members-item {
    padding: 0.5rem;
    margin: 1rem 0;
    background: transparent
}

.the-band-member-image {
    grid-area: img;
}

.the-band-member-image img {
    width: 100%
}

.the-band-member-content {
    grid-area: content;
}

.the-band-member-link {
    grid-area: link;
    margin: 0.5rem 0 0 0;
    text-align: right;
}

.background-dark {
    background: var(--theme-black);
}

.red-text-link,
.red-text-link:visited {
    color: var(--theme-red);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.red-text-link:hover,
.red-text-link:focus{
    border-bottom: 1px solid var(--theme-red);
}

.red-text-link:active{
    border-bottom: 1px solid var(--theme-red);
}

.the-band-member-content h2 {
    color: var(--theme-white);
}

.the-band-member-content > span {
    color: var(--theme-yellow);
    font-size: 16px;
    padding: 0.3rem 0; 
}

hr.the-band-member-divider {
    border: none;  
    border-bottom: 1px solid var(--theme-white); 
}
